<p>Añadir comentario: </p>
<br>
<form method="post" action="/quizes/<%=quizid%>/comments/" >
	<br>
	<input type="text" id="comment" name="comment[texto]" value=""/> <p>
	<br>
	<button type="submit">Enviar</button>
</form>
